# Core Libraries
torch>=2.0.0
torchaudio>=2.0.0
numpy>=1.24
pandas>=1.5
librosa>=0.10
pretty-midi>=0.2.10
midiutil>=1.4.1
pyfluidsynth>=1.3.0
soundfile>=0.12.1
pydub>=0.25.1

# AI Models
midi-ddsp>=0.1.0
demucs>=4.0.0

# GUI
streamlit>=1.24.0
ipywidgets>=8.1.0